body {

  
  /* background-color: blue; */
}
.App {
  margin: 40px 20px;
  width: 100vw;
  height: 100vh;
  display: grid; 
  grid-auto-columns: 1fr;  
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr; 
  grid-template-rows: 0.9fr 1.1fr; 
  gap: 21px 23px; 
  grid-template-areas: 
    "Sidebar Reviews Average-Rating Sentiment-Analysis"
    "Sidebar Website-Visitors Website-Visitors Website-Visitors"; 
}
.Sidebar { 
  grid-area: Sidebar;
  background-color: lightgray;
 


   }

   .Sidebar ul {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    
   }
.Reviews { 
  padding-left: 15px;
  grid-area: Reviews;
  background-color: lightgray;
 }
.Average-Rating { 
  padding-left: 15px;
  grid-area: Average-Rating;
  background-color: lightgray;
 }
.Sentiment-Analysis { 
  padding-left: 15px;
  grid-area: Sentiment-Analysis;
  background-color: lightgray;
 }
.Website-Visitors {
  padding-left: 15px;
  background-color: lightgray;
  display: grid; 
  grid-template-columns: 0.3fr 2.4fr 0.3fr; 
  grid-template-rows: 0.4fr 2.2fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". Inner-Box ."
    ". . ."; 
  grid-area: Website-Visitors; 
}
.Inner-Box { 
  grid-area: Inner-Box; 
  background-color: gray;}